body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gallery {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 24px;
    padding: 0;
    margin-top: 24px;
}

.gallery-link {
    display: block;
}

.gallery-image {
    width: 360px;
    height: 200px;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.045);
}